<ul>
    <div class="scrollmenu">
        <button class="btn" (click)="filterBy('')" type="button"><span>All</span></button>
        <button class="btn" (click)="searchArticles('news')" type="button"><span>News</span></button>
        <button class="btn" (click)="searchArticles('politic')" type="button"><span>Politic</span></button>
        <button class="btn" (click)="searchArticles('health')" type="button"><span>Sanatate</span></button>
        <button class="btn" (click)="searchArticles('IT')" type="button"><span>IT</span></button>
        <button class="btn" (click)="searchArticles('sport')" type="button"><span>Sport</span></button>
        <button class="btn" (click)="searchArticles('monden')" type="button"><span>Monden</span></button>
        <button class="btn" (click)="searchArticles('life')" type="button"><span>Life</span></button>
    </div>
    <button class="btn" type="button" (click)="showOptions = !showOptions">
        <span *ngIf="!showOptions">More Options</span>
        <span *ngIf="showOptions">Less Options</span>
    </button>
    <div class="scrollmenu"  *ngIf="showOptions">
        <p class="title">Sursele stirilor</p>
        <button class="btn" *ngFor="let source of mSources" (click)="searchArticles(source.id);" type="button">
            <span>{{source.name}}</span>
        </button>
    </div>
    
    <div class="scrollmenu" *ngIf="showOptions">
        <p class="title">Cuvintele tale cheie</p>
        <button *ngFor = "let saved of saved$ ; let i = index" class="btn" (click)="searchArticles(saved);" id="category{{ i }}" type="button">
            <span>{{saved}}</span>
        </button>
        <button class="btn" type="button" (click)="showEdit = !showEdit">
            <span hidden>Edit Options</span>
        </button>
    </div>
    <button class="btn" (click)="add()" type="button" hidden>
        <span hidden>Add</span>
    </button>
    <div id="uform" class="col-md-4" *ngIf="showEdit" >
        <input *ngFor = "let saved of saved$ ; let i = index" class="form-control col-md-3" value={{saved}} type="text" placeholder="{{saved}}" id="category{{ i }}"  name="name">    
    </div>
    <button class="btn btn-primary" *ngIf="showEdit"  (click) = update()>Update</button>
    <div *ngIf="mArticles">
      <div class="scrollmenu block">
        <button class="btn action" (click)="startSpeaking()" type="button"><i class="fa fa-microphone" aria-hidden="true"> Speak</i></button>
        <button [disabled]="waitCommand" class="btn action" (click)="stopSpeaking()" type="button"><i class="fa fa-stop-circle" aria-hidden="true"> Stop</i></button>

        <div [hidden]="!waitCommand">Waiting voice commands, say 'more' or 'stop'</div>
      </div>
      <div class="card-holder">
        <div class="card" *ngFor="let article of mArticles" #courseList >
            <div class="container" *ngIf="article.urlToImage">
                <a href="{{article.url}}" target="_blank">
                    <img class="img-article" src={{article.urlToImage}} alt="">
                    <div class="text_container">
                        <h3>{{article.title}}</h3>
                        <span>{{article.source.name}}</span>
                        <p>{{article.description}}</p>
                    </div>
                </a>
                <!-- <share-buttons [include]="['facebook', 'twitter', 'whatsapp']" [url]="item.payload.val().Link"></share-buttons> -->
            </div>
        </div>
      </div>
            
        
        <!-- <div *ngIf="items.length === 0">Niciun rezultat</div> -->
    </div>
    <ng-template #loading>Loading&hellip;</ng-template>
</ul>
