<ul>
  <div class="scrollmenu">
    <button class="btn" (click)="filterBy('business')" type="button"><span>Business</span></button>
    <button class="btn" (click)="filterBy('travel')" type="button"><span>Travel</span></button>
    <button class="btn" (click)="filterBy('it')" type="button"><span>IT</span></button>
  </div>
  <div *ngIf="items$ | async; let items; else loading">
      <button class="btn" (click)="startSpeaking()" type="button">Speak!!!</button>
      <div [hidden]="!waitCommand">Waiting voice commands, say 'read more' to repeat</div>

      <li *ngFor="let item of items" #courseList>
        <a href="{{item.payload.val().Link}}" target="_blank" >
          <h3>{{ item.payload.val().Title }}</h3>
          <p>{{ item.payload.val().Description }}</p>
        </a>
      </li>

    <div *ngIf="items.length === 0">Niciun rezultat</div>
  </div>
  <ng-template #loading>Loading&hellip;</ng-template>
</ul>

