<div class ="top">
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <div *ngIf="auth.currentUser">
        <img class="card-img-top" [src]="auth.currentUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=10%>
        <a style="margin: 50% 0 50% 0;">{{ auth.currentUserDisplayName }}</a>
        <a routerLink="/items">
          <li>News</li>
        </a>
        <a routerLink="/notes">
          <li>Watchlist</li>
        </a>
        <a (click)="logout()"><li>Logout</li></a>
      </div>
      <div *ngIf="!auth.currentUser">
        <a routerLink="/login">
          <li>Login</li>
        </a>
      </div>
    </ul>
  </div>
</nav>
</div>
