<div *ngIf="!auth.currentUser; else login">

  <h3 style="margin: 2% 0 2% 0;">Social Login</h3>


    <button (click)="signInWithGoogle()"  style="background-color: #dd4b39; color: white"  class="button button-info">
      <i class="fa fa-google-plus fa-lg fa-fw"></i> Connect Google
    </button>

    <button style="background-color: #24292E; color: white" (click)="signInWithGithub()" class="button button-info">
      <i class="fa fa-github fa-lg fa-fw"></i> Connect GitHub
    </button>

    <button style="background-color: #3B5998; color: white" (click)="signInWithFacebook()" class="button button-info">
      <i class="fa fa-facebook fa-lg fa-fw"></i> Connect Facebook
    </button>

    <button style="background-color: #24292E; color: white" (click)="signInWithTwitter()" class="button button-info" disabled>
      <i class="fa fa-twitter fa-lg fa-fw"></i> Connect Twitter
    </button>

    <hr>


    <user-form></user-form>

</div>




<ng-template #alreadyLoggedIn>
  <p style="margin-top: 2%;" class="text-success">
    Already logged in!
  </p>
</ng-template>
